/* rice paper main color: #EFEAD4 */
* {
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media print {
    body {
        background-color: #fff;
    }
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #7F764B;
    background-image: url("../images/ricepaper.png");
    background-repeat: repeat;
}
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #E86F0B;
    font-weight: bold;
    font-size: 20px;
}
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #E86F0B;
    font-weight: bold;
    padding-bottom: 6px;
    font-size: 18px;
}
p {
    margin-bottom: 10px;
}
.nav-bgcolor {
    background-color: #FFFAE2;
}
a:hover.nav-link {
    background-color: #F2DF8E;
}
a:link.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #E86F0B;
    font-weight: bold;
    font-size: 20px; 
}
.col-bg {
    background: #FFFAE2;
    padding: 10px;
    margin: 10px 0;
}
.col-bg-card {
    margin: 10px 0;
}
.card {
    color: #E86F0B;
    font-size: 16px;
    font-weight: bold;
}
.imgpad {
    margin: 10px;
}
.footer {
    width: 960px;
    height: 40px;
    padding: 6px;
    color: #7F764B;
    text-align: center;
}
img.profile {
    float: left;
    margin: 0 10px 10px 0;
}
hr {
    background-color: #e7e7e7;
    height: 1px;
    width: 100%;
}
.subbtn {
    background-color: #E86F0B;
    color: white;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
h3 {
    color: #fff;
    background-color: #E86F0B;
    height: 30px;
    text-align: center;
}
.row-port {
    margin: 10px 40px;
}
.box1 {
    background-image: url("../images/port1.jpg");
    background-repeat: no-repeat;
}
.box2 {
    background-image: url("../images/port2.jpg");
    background-repeat: no-repeat;
}
.box3 {
    background-image: url("../images/port3.jpg");
    background-repeat: no-repeat;
}
.box4 {
    background-image: url("../images/port4.jpg");
    background-repeat: no-repeat;
}
.box5 {
    background-image: url("../images/port5.jpg");
    background-repeat: no-repeat;
}